/* .supersonic-helper {
	z-index: 99999 !important;
	background: blue;
	outline: 3px dashed red;
	visibility: visible !important;
	width: 5px !important;
} */

html,
body {
	margin: 0;
	padding: 0;
}
body {
	overflow-x: hidden;
	background: #fff;
}
.driver {
	position: absolute;
}
.barth {
	border-radius: 100%;
	position: absolute;
	width: 150px;
	height: 150px;
	background-image: url("/src-site/images/barth.png");
	border: 20px solid rgb(32, 32, 32);
}
@barth 150;

@media (max-width: 1024px) {
	.barth {
		width: 100px;
		height: 100px;
		background-size: 700px 700px;
	}
	@barth 100;
}
