pre {
	/* white-space: pre-wrap; */
	overflow: hidden;
	background: #272822;
	border-radius: 1rem;
	padding: 1rem;
	color: #fff;
	flex: 1 0 0;
	margin: 1rem 0 0;
	position: relative;
	/* border: 10px solid #424242; */

	&:hover .copy-clipboard {
		opacity: 1;
	}
}

code {
	position: absolute;
	left: 1rem;
	right: 1rem;
	top: 1rem;
	bottom: 1rem;
	overflow: auto;
}

.copy-clipboard {
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	background: #272822;
	width: 30px;
	height: 30px;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	transition: transform 0.3s, opacity 0.3s, color 0.3s;
	opacity: 0;

	&:hover {
		transform: scale(1.3);
	}

	&.copied {
		color: rgb(24, 221, 100);
	}
}

@media (max-width: 1024px) {
	.copy-clipboard {
		opacity: 1;
	}
}

.copy-clipboard svg {
	position: absolute;
	left: 6px;
	top: 6px;
}

.hljs-name {
	color: #f92672;
}

.hljs-attr,
.hljs-function {
	color: #a2d729;
}

.hljs-string {
	color: #e6db74;
}

.hljs-argument {
	color: #ff9955;
	font-style: italic;
}

.hljs-comment,
code a {
	color: #75715e;
}

.hljs-keyword,
.hljs-built_in {
	color: #5fc1d0;
	font-style: italic;
}

.hljs-number {
	color: #ab7baf;
}
