nav {
	width: 15%;

	.nav-wrapper {
		position: sticky;
		height: 100vh;
		top: 0;
		padding: 1rem;
		overflow-y: auto;
	}

	.nav-link-container {
		margin: 0 0 1rem;
	}

	.nav-link {
		border-bottom: 1px dashed;
		text-decoration: none;
		color: #000;

		&:hover {
			border: none;
		}
	}
}

@media (max-width: 1024px) {
	nav {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		background: #fff;
		z-index: 200;
		width: 50%;
		box-shadow: 0 0 20px rgb(102, 102, 102);
		transform: translateX(-110%);
		transition: transform 0.3s;

		.nav-wrapper {
			position: relative;
			z-index: 600;
		}

		.mobile-cover {
			position: absolute;
			left: 100%;
			top: 0;
			width: 100%;
			bottom: 0;
			z-index: 500;
			display: none;
		}

		&.nav_active {
			transform: translateX(0);

			.mobile-cover {
				display: block;
			}
		}
	}
}
