.section {
	height: 100vh;
	position: relative;
}

/* .example,
.code {
	flex: 1 0 0;
	position: relative;
}

.example {
	display: flex;

	& > * {
		flex: 0 0 100%;
	}
} */

.example {
	width: 60%;
	margin: 0 auto;
	height: 100%;
	position: relative;
	padding: 1rem;
}

@media (max-width: 1024px) {
	.example {
		width: auto;
	}
}

.code {
	position: absolute;
	right: 1rem;
	top: 0;
	bottom: 0;
	left: 0;
	flex-direction: column;
	padding: 0 0 1rem;
	transform: translateY(-30px);
	display: none;

	&_active {
		display: flex;
	}
}

@media (max-width: 1024px) {
	.code {
		position: fixed;
		width: auto;
		left: 0;
		right: 0;
		padding: 2rem 1rem 1rem;
		background: #fff;
	}
}
