.vh-1 {
	height: 100vh;
}
.vh-2 {
	height: 200vh;
}
.vh-3 {
	height: 300vh;
}

.vh-50 {
	height: 50vh;
}

.button {
	background: #fff;
	border: 10px solid #272822;
	color: #272822;
	border-radius: 1rem;
	padding: 0.5rem;
	text-decoration: none;
	transition: background 0.3s, color 0.3s;

	&:hover {
		background: #272822;
		color: #fff;
	}
}

.mobile-menu {
	position: fixed;
	padding: 1rem;
	background: #fff;
	z-index: 100;
	display: none;
}

@media (max-width: 1024px) {
	.mobile-menu {
		display: block;
	}
}

.anchor {
	height: 1px;
}

@media (max-width: 1024px) {
	.anchor {
		transform: translateY(-3rem);
	}
}
