html,
body {
  margin: 0;
  padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
}

body {
  overflow-x: hidden;
  background: #fff;
}

.driver {
    position: absolute;
}

.barth {
    position: absolute;
  
    width: 170px;
    height: 170px;
  
    background-image: url("/bartholomeow.png");
    border: 15px solid rgb(32 32 32);
    border-radius: 100%;

    animation-name: barth;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-play-state: paused;
  }
  
  @barth 150;
  
  @media (width <= 1024px) {
    .barth {
      width: 100px;
      height: 100px;
      background-size: 700px 700px;
      border-width: 10px;
    }
  
    @barth 100;
  }
  
@keyframes barth {
    to {
        translate: 100% 0 0;
    }
}